<template>
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-lg-12 mt-3 mb-5 mt-5" >
          <h5 class="">Cart Content</h5>
          <p class="text-muted mb-3">Here are the list of your items</p>
          <carousel :perPage="4" :navigationEnabled="true" :speed="1000" :autoplay="false" :labelEnabled="false" :loop="true" :scrollPerPage="false" paginationColor="#000" paginationActiveColor="#00ac29">
            <p class="text-muted" v-if="cart.length == 0">No items on your cart</p>
            <slide class="" v-for="(item, i) in cart" :key="i">
              <div class="card" style="min-width: 100%">
                <img :src="'http://127.0.0.1:8000/uploads/' + item.image" alt="" class="" height="160" max-width="100%" />
                <div class="card-body p-4">
                  <h5 class="">{{item.name}}</h5>
                  <p><small>QTY: {{item.qty}}</small></p>
                  <p><small>TOTAL: {{item.total}}</small></p>
                  <button class="btn btn-primary btn-sm rounded-pill me-1 mt-2" @click.prevent="addToCart(item)">+</button>
                  <button class="btn btn-primary btn-sm rounded-pill mt-2" @click.prevent="removeFromCart(item, i)" >-</button>
                </div>
              </div>
            </slide>
          </carousel>
              <div class="col-4 col-lg-4 col-xl-4 mt-4" v-if="cart.length != 0">
                <h6>Payment Type</h6>
                <select v-model="card.payment_type" class="form-select">
                <option value="Credit Card">Credit Card</option>
                <option value="" disabled>Coming soon...</option>
                </select>
                <div v-if="card.payment_type == 'Credit Card'">
                <h6 class="mt-4">Credit card payment</h6>
                <p class="mt-2">Name on card</p>
                <input v-model="card.name" class="form-control">
                <p class="">Card Number</p>
                <input v-model="card.number" class="form-control" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="xxxx xxxx xxxx xxxx">
                <div class="row mt-2">
                  <div class="col-11 col-sm-11 col-md-4 col-lg-4 col-xl-4">
                  <p>CVC</p>
                  <input v-model="card.cvc" class="form-control" inputmode="numeric" type="text" pattern="[0-9\s]" placeholder="e.g 425" maxlength="3">
                  </div>
                  <div class="col-11 col-sm-11 col-md-4 col-lg-4 col-xl-4">
                  <p>Exp Month</p>
                  <input v-model="card.exp_month" class="form-control" type="number" placeholder="MM">
                  </div>
                  <div class="col-11 col-sm-11 col-md-4 col-lg-4 col-xl-4">
                  <p>Exp Year</p>
                  <input v-model="card.exp_year" class="form-control" type="number" placeholder="YYYY">
                  </div>
                </div>
                <button class="btn btn-primary mt-3" :disabled="loading" @click.prevent="pay">
                <div v-if="loading" class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div v-else>
                  Checkout
                </div>
                </button>
              </div>
            </div>
          </div>
      </div>
    </div>
</template>
<script>
import {mapState, mapActions} from 'vuex'
export default {
  data(){
   return {
    cart: [],
    card: {
       name: '',
       cvc: '',
       number:'',
       exp_month: '',
       exp_year: '',
       payment_type: 'Credit Card',
    },
    loading: false
   }
  },
  methods: {
    ...mapActions('auth', ['checkAuthUser']),
    ...mapActions('orders', ['payOrder']),
    removeFromCart(prod, index){
      let data = {
        id: prod.id,
        image: prod.image,
        name: prod.food_name,
        curr_qty: prod.curr_qty,
        qty: 1,
        price: prod.price,
        total: prod.total
      }

      let flag = false
      let exceed = false

      this.cart = JSON.parse(localStorage.getItem('cart')) || []
      for(var key of Object.keys(this.cart)){
        if(this.cart[key].id == data.id){
          if((this.cart[key].qty - 1) != 0){
            this.cart[key].qty = this.cart[key].qty - 1
            this.cart[key].total = parseFloat(data.price) * this.cart[key].qty
            this.$toast.success('Item on cart updated')
          }
          else {
            exceed = true
          }
          flag = true
        }
      }
      if(!flag){
        this.cart.push(data)
        this.$toast.success('Item Added to Cart')
        this.products.qty - 1
      }
      if(exceed){
        this.$toast.error('No qty remaining')
        this.cart.splice(index, 1)
      }

      localStorage.setItem('cart', JSON.stringify(this.cart))
    },
    addToCart(prod){
      let data = {
        id: prod.id,
        image: prod.image,
        name: prod.food_name,
        curr_qty: prod.curr_qty,
        qty: 1,
        price: prod.price,
        total: prod.total
      }

      let flag = false
      let exceed = false

      this.cart = JSON.parse(localStorage.getItem('cart')) || []
      for(var key of Object.keys(this.cart)){
        if(this.cart[key].id == data.id){
          if((this.cart[key].qty += 1) <= data.curr_qty){
            this.cart[key].qty + 1
            this.cart[key].total = parseFloat(data.price) * this.cart[key].qty
            this.$toast.success('Item on cart updated')
          }
          else {
            exceed = true
          }
          flag = true
        }
      }

      if(!flag){
        this.cart.push(data)
        this.$toast.success('Item Added to Cart')
        this.products.qty - 1
      }
      if(exceed){
        this.$toast.error('Quantity exceeds the remaining products')
      }

      localStorage.setItem('cart', JSON.stringify(this.cart))
    },
    async pay(){
      this.loading = true
      let data = {
        name: this.card.name,
        number: this.card.number,
        cvc: this.card.cvc,
        exp_month: this.card.exp_month,
        exp_year: this.card.exp_year,
        user_id: this.useraccount.id,
        payment_type: this.card.payment_type,
        total: 0,
        cart: this.cart,
      }
      
      let total = 0

      for(var key in Object.keys(this.cart)){
        total = parseFloat(total) + parseFloat(this.cart[key].total)
      }

      data.total = total
      if(this.cart.length == 0) return this.$toast.error('No items for checkout')
      if(this.card.payment_type == 'Credit Card'){
        if(this.card.name == '') return this.$toast.error('Card name is required')
        if(this.card.number == '') return this.$toast.error('Card number is required')
        if(this.card.cvc == '') return this.$toast.error('CVC is required')
        if(this.card.exp_month == '') return this.$toast.error('Expiration Month is required')
        if(this.card.exp_year == '') return this.$toast.error('Expiration Year is required')
        const res = await this.$store.dispatch('orders/payOrder', data)
        if(res.status == 200){
          this.$toast.success('Payment successful')
          this.$router.push('/home/products')
          localStorage.removeItem('cart')
          this.$toast.success('You can check your transactions on your account')
          this.loading = false
        }
        else {
         this.$toast.error(res.data.msg);
         this.loading = false
        }
        this.loading = false
      }
    },
  },
  async mounted() {
    document.title = "Cart Items"
    await this.checkAuthUser()
    await this.$store.dispatch('storename/getProd')
    this.cart = JSON.parse(localStorage.getItem('cart')) || []
  },
  computed: {
    ...mapState('storename', ['products']),
    ...mapState("auth", ["useraccount"])
  },

}
</script>