<template>
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="d-flex justify-content-end mt-5">
          <a href="/home/cart" class="btn btn-primary"><i class="fas fa-cart-arrow-down"></i> Cart  <b-badge class="bg-dark text-light">{{this.cart.length}}</b-badge></a>
        </div>
        <div class="col-lg-12 mt-3 mb-5"  v-for="(prod, i) in products" :key="i">
          <h5 class="">{{prod.category}}</h5>
          <p class="text-muted mb-3">{{prod.category}} categories are listed below</p>
          <carousel :perPage="4" :navigationEnabled="true" :speed="1000" :autoplay="false" :labelEnabled="false" :loop="true" :scrollPerPage="false" paginationColor="#000" paginationActiveColor="#00ac29">
            <p class="text-muted" v-if="prod.items == 0">No item is available for this category</p>
            <slide class="" v-for="(item, i) in prod.items" :key="i">
              <div class="card" style="min-width: 100%">
                <img :src="'http://127.0.0.1:8000/uploads/' + item.image" alt="" class="" height="160" max-width="100%" />
                <div class="card-body p-4">
                  <p class="text-muted">{{item.owner.ownerinfo.store_name}}</p>
                  <h5 class="">{{item.food_name}}</h5>
                  <p><small>{{item.category.category}}</small></p>
                  <p><small>QTY: {{item.qty}}</small></p>
                  <p><small>₱ {{item.price}}</small></p>
                  <button class="btn btn-sm btn-primary rounded-3 mt-2" @click.prevent="addToCart(item)"><i class="fas fa-plus"></i> Cart</button>
                </div>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
</template>
<script>
import {mapActions, mapState} from 'vuex';
import { Carousel, Slide } from 'vue-carousel';
export default {
  components: {
    Carousel,
    Slide
  },
  data(){
    return {
      loading: false,
      cart: [],
    }
  },
  async mounted() {
    document.title = "Store"
    await this.checkAuthUser()
    await this.$store.dispatch('storename/getProd')
    this.cart =JSON.parse(localStorage.getItem('cart')) || []
  },
  methods: {
    ...mapActions('auth', ['checkAuthUser']),
    emitResult () {
      this.$emit('input', this.num)
    },
    addToCart(prod){
      let data = {
        id: prod.id,
        image: prod.image,
        name: prod.food_name,
        curr_qty: prod.qty,
        qty: 1,
        price: prod.price,
        total: prod.price
      }

      let flag = false
      let exceed = false

      this.cart = JSON.parse(localStorage.getItem('cart')) || []
      for(var key of Object.keys(this.cart)){
        if(this.cart[key].id == data.id){
          if((this.cart[key].qty += 1) <= data.curr_qty){
            this.cart[key].qty + 1
            this.cart[key].total = parseFloat(data.price) * this.cart[key].qty
            this.$toast.success('Item on cart updated')
          }
          else {
            exceed = true
          }
          flag = true
        }
      }

      if(!flag){
        this.cart.push(data)
        this.$toast.success('Item Added to Cart')
        this.products.qty - 1
      }
      if(exceed){
        this.$toast.error('Quantity exceeds the remaining products')
      }

      localStorage.setItem('cart', JSON.stringify(this.cart))
    }
  },
  computed: {
    ...mapState('storename', ['products']),
    ...mapState("auth", ["useraccount"])

  },
}
</script>