<template>
 <div>
  <div class="sidebar">
   <h6>MANAGEMENT</h6>
   <router-link to="/owner/dashboard"><i class="fas fa-chart-line"></i> Dashboard</router-link>
   <router-link to="/owner/store"><i class="fas fa-store"></i> Store</router-link>
   <router-link to="/owner/orders"><i class="fas fa-concierge-bell"></i> Orders</router-link>
   <a href="" @click.prevent="$bvModal.show('settingsModal')"><i class="fas fa-user-cog"></i> Settings</a>
   <a href="#" v-on:click.prevent="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
  </div>

   <b-modal id="settingsModal" centered title="Account Settings">
   <div class="row pe-4 ps-4 pt-2 pb-2">
    <div class="col">
     <label for="item">First Name</label>
     <input v-model="data.first_name" id="item" type="text" class="form-control" placeholder="" aria-label="First Name">
     
     <label for="remarks">Middle Name</label>
     <input v-model="data.middle_name" id="remarks" type="text" class="form-control" placeholder="" aria-label="Middle Name">

     <label for="remarks">Last Name</label>
     <input v-model="data.last_name" id="remarks" type="text" class="form-control" placeholder="" aria-label="Last Name">
     
     <label for="remarks">Contact Number</label>
     <input v-model="data.contact_number" id="remarks" type="number" class="form-control" placeholder="" aria-label="Contact Number">

     <label for="gender">Select Gender</label>
     <select id="gender" v-model="data.gender" class="form-select">
      <option value="" disabled selected>Select Gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
     </select>
     
     <label for="email">Email</label>
     <input v-model="data.email" id="email" type="text" class="form-control" placeholder="" aria-label="Email">

     <label for="password">Password </label>
     <input v-model="data.password" id="password" type="password" class="form-control" placeholder="" aria-label="Password">
     <label class="text-muted"><small>Leave blank if you dont want to change your password</small></label>
    </div>
   </div>
    <template #modal-footer = {cancel} >
      <b-button variant="primary" size="sm" @click="cancel()" :disabled="isLoading"> Cancel </b-button>
      <b-button variant="success" size="sm" v-on:click.prevent="updateAccount" :disabled="isLoading">
        Update
      </b-button>
    </template>
   </b-modal>
 </div>
</template>
<script>
import {mapActions, mapState  } from 'vuex'
export default {
  data(){
    return {
      loading: false, 
      data: {
        first_name: '',
        middle_name: '',
        last_name: '',
        gender: '',
        contact_number: '',
        email: '',
        password: '',
      },
      isLoading: false,
    }
  },
  computed: {
    ...mapState("auth", ["owneraccount"])
  },
  async mounted() {
    await this.checkAdminUser()
    this.setValues()
  },
  methods: {
    ...mapActions('auth', ['logoutOwner', 'checkAdminUser']),

    async logout(){
      this.loading = true
      const res = await this.logoutOwner()
      if(res.status == 200){
        this.loading = false
        window.location.reload()
        this.$router.push('/')
        this.$toast.success('Logged Out')
      }
    },
    setValues(){
      this.data.id = this.owneraccount.id
      this.data.first_name = this.owneraccount.ownerinfo.first_name
      this.data.middle_name = this.owneraccount.ownerinfo.middle_name
      this.data.last_name = this.owneraccount.ownerinfo.last_name
      this.data.contact_number = this.owneraccount.ownerinfo.contact_number
      this.data.gender = this.owneraccount.ownerinfo.gender
      this.data.email = this.owneraccount.email
    },
    async updateAccount(){
      this.isLoading = true
      const res = await this.$store.dispatch('auth/updateAdminAccount', this.data)
      if(res.status == 200){
        await this.$store.dispatch('auth/checkAdminUser')
        this.$bvModal.hide('settingsModal')
        this.$toast.success('Account Info updated successfully!')
      }
      this.isLoading = false
    }
  }
}
</script>