<template>
 <div>
  <div class="navigation-user">
    <div class="d-flex">
      <div class="d-flex me-auto">
        <b-avatar :text="useraccount.userinfo.first_name[0] + useraccount.userinfo.last_name[0]" size="3rem"></b-avatar>
        <div class="d-flex flex-column lh-1 ms-2 justify-content-center">
          <p class="text-dark" v-if="useraccount">Welcome, {{useraccount.userinfo.first_name}} {{useraccount.userinfo.last_name}}!</p>
          <p class="text-muted" v-if="useraccount"><small>{{useraccount.email}}</small></p>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <a href="/home/dashboard" class="text-decoration-none me-4">Dashboard</a>
        <a href="/home/products" class="text-decoration-none me-4">Store</a>
        <a href="" @click.prevent="$bvModal.show('settingsModal')" class="text-decoration-none me-4">Settings</a>
        <a href="" v-on:click.prevent="logout" class="text-decoration-none me-3">Log-out</a>
      </div>
    </div>
  </div>

  
   <b-modal id="settingsModal" centered title="Account Settings">
   <div class="row pe-4 ps-4 pt-2 pb-2">
    <div class="col">
     <label for="item">First Name</label>
     <input v-model="data.first_name" id="item" type="text" class="form-control" placeholder="" aria-label="First Name">
     
     <label for="remarks">Middle Name</label>
     <input v-model="data.middle_name" id="remarks" type="text" class="form-control" placeholder="" aria-label="Middle Name">

     <label for="remarks">Last Name</label>
     <input v-model="data.last_name" id="remarks" type="text" class="form-control" placeholder="" aria-label="Last Name">
     
     <label for="remarks">Contact Number</label>
     <input v-model="data.contact_number" id="remarks" type="number" class="form-control" placeholder="" aria-label="Contact Number">

     <label for="gender">Select Gender</label>
     <select id="gender" v-model="data.gender" class="form-select">
      <option value="" disabled selected>Select Gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
     </select>
     
     <label for="email">Email</label>
     <input v-model="data.email" id="email" type="text" class="form-control" placeholder="" aria-label="Email">

     <label for="password">Password </label>
     <input v-model="data.password" id="password" type="password" class="form-control" placeholder="" aria-label="Password">
     <label class="text-muted"><small>Leave blank if you dont want to change your password</small></label>
    </div>
   </div>
    <template #modal-footer = {cancel} >
      <b-button variant="primary" size="sm" @click="cancel()" :disabled="isLoading"> Cancel </b-button>
      <b-button variant="success" size="sm" v-on:click.prevent="updateAccount" :disabled="isLoading">
        Update
      </b-button>
    </template>
   </b-modal>
 </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
export default {
  data(){
    return {
      loading: false, 
      data: {
        first_name: '',
        middle_name: '',
        last_name: '',
        gender: '',
        contact_number: '',
        email: '',
        password: '',
      },
      isLoading: false,
    }
  },
  components: {
  },
  async mounted(){
    await this.checkAuthUser()
    this.setValues()
  },
  computed: {
    ...mapState("auth", ["useraccount"])

  },
  methods: {
    ...mapActions('auth', ['logoutUser', 'checkAuthUser']),

    async logout(){
      this.loading = true
      const res = await this.logoutUser()
      if(res.status == 200){
        this.loading = false
        this.$router.push('/')
        localStorage.removeItem('cart')
        this.$toast.success('Logged Out')
      }
    },
    setValues(){
      this.data.id = this.useraccount.id
      this.data.first_name = this.useraccount.userinfo.first_name
      this.data.middle_name = this.useraccount.userinfo.middle_name
      this.data.last_name = this.useraccount.userinfo.last_name
      this.data.contact_number = this.useraccount.userinfo.contact_number
      this.data.gender = this.useraccount.userinfo.gender
      this.data.email = this.useraccount.email
    },
    async updateAccount(){
      this.isLoading = true
      const res = await this.$store.dispatch('auth/updateUserAccount', this.data)
      if(res.status == 200){
        await this.$store.dispatch('auth/checkAuthUser')
        this.$bvModal.hide('settingsModal')
        this.$toast.success('Account Info updated successfully!')
      }
      this.isLoading = false
    }
  }
}
</script>