<template>
 <div>
  <div class="sidebar">
   <h6>USER</h6>
   <router-link to="/home/dashboard"><i class="fas fa-chart-line"></i> Dashboard</router-link>
   <router-link to="/home/products"><i class="fas fa-store"></i> Home</router-link>
   <a href="" @click.prevent="$bvModal.show('settingsModal')"><i class="fas fa-user-cog"></i> Settings</a>
   <a href="#" v-on:click.prevent="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
  </div>

 </div>
</template>
<script>
import {mapActions, mapState  } from 'vuex'
export default {
  data(){
    return {
      loading: false, 
      data: {
        first_name: '',
        middle_name: '',
        last_name: '',
        gender: '',
        contact_number: '',
        email: '',
        password: '',
      },
      isLoading: false,
    }
  },
  computed: {
    ...mapState("auth", ["useraccount"])
  },
  async mounted() {
    await this.checkAuthUser()
    this.setValues()
  },
  methods: {
    ...mapActions('auth', ['logoutUser', 'checkAuthUser']),

    async logout(){
      this.loading = true
      const res = await this.logoutUser()
      if(res.status == 200){
        this.loading = false
        window.location.reload()
        this.$router.push('/')
        this.$toast.success('Logged Out')
      }
    },
    setValues(){
      this.data.id = this.useraccount.id
      this.data.first_name = this.useraccount.userinfo.first_name
      this.data.middle_name = this.useraccount.userinfo.middle_name
      this.data.last_name = this.useraccount.userinfo.last_name
      this.data.contact_number = this.useraccount.userinfo.contact_number
      this.data.gender = this.useraccount.userinfo.gender
      this.data.email = this.useraccount.email
    },
    async updateAccount(){
      this.isLoading = true
      const res = await this.$store.dispatch('auth/updateUserAccount', this.data)
      if(res.status == 200){
        await this.$store.dispatch('auth/checkAuthUser')
        this.$bvModal.hide('settingsModal')
        this.$toast.success('Account Info updated successfully!')
      }
      this.isLoading = false
    }
  }
}
</script>