<template>
    <div id="registration-page">
      <div class="container-fluid m-0">
        <div class="row">
          <div id="left-section" class="col-lg-8 col-md-7 d-none d-lg-flex d-md-flex vh-100 px-4 justify-content-start align-items-center">
            <h1 class="text-light fw-bolder ps-2">We all eat, it would be a sad waste of opportunity to eat badly.
              <span><p class="fw-light fs-5 mt-3">- Final Project for IT127L</p></span>
            </h1>
          </div>
          <div id="right-section" class="col-lg-4 col-md-5 col-sm-12 col-xs-12 vh-100 d-flex justify-content-center align-items-center ps-0 ms-0">
            <div class="card w-100 m-3 px-4 pt-5 pb-3">
              <small class="ms-3 text-light" :hidden="step === 2">Choose account type</small>
              <div class="form-check form-switch ms-3 mb-4" :hidden="step === 2">
                <input class="form-check-input" v-model="isOwner" type="checkbox" id="flexSwitchCheckDefault">
                <label v-if="isOwner" class="form-check-label text-light" for="flexSwitchCheckDefault">Stall Owner Account</label>
                <label v-else class="form-check-label text-light" for="flexSwitchCheckDefault">Customer Account</label>
              </div>
              <div v-if="isOwner" class="card-body">
                <h5 class="text-center text-light fw-light mb-3">Owner Account Registration</h5>
                <form v-if="step === 1">
                  <small class="text-light">Step 1 - Owner Information</small>
                  <div class="form-floating mt-4 mb-2">
                    <input v-model="data.first_name" type="text" class="form-control" id="fname" placeholder="fname" autocomplete="off" autofocus required>
                    <label for="fname">First Name</label>
                  </div>
                  <div class="form-floating mb-2">
                    <input v-model="data.middle_name" type="text" class="form-control" id="mname" placeholder="mname" autocomplete="off" required>
                    <label for="mname">Middle Name</label>
                  </div>
                  <div class="form-floating mb-2">
                    <input v-model="data.last_name" type="text" class="form-control" id="lname" placeholder="lname" autocomplete="off" required>
                    <label for="lname">Last Name</label>
                  </div>
                  <div class="col-md mb-2">
                      <div class="form-floating">
                      <select v-model="data.gender" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                      </select>
                      <label for="floatingSelectGrid">Gender</label>
                      </div>
                  </div>
                  <div class="form-floating mb-3">
                    <input v-model="data.contact_number" type="contact" class="form-control" id="contact" placeholder="contact" autocomplete="off" required>
                    <label for="contact">Contact</label>
                  </div>
                  <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-sm btn-primary px-3 rounded-3" @click="next">Next</button>
                  </div>
                </form>
                <form v-if="step === 2">
                  <small class="text-light">Step 2 - Owner Login Credentials</small>
                  <div class="form-floating mt-4 mb-3">
                    <input v-model="data.email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" autocomplete="off" autofocus required>
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating mb-5">
                    <input v-model="data.password" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                    <label for="floatingPassword">Password</label>
                  </div>
                  <div class="d-flex justify-content-end">
                  <div class="row">
                      <div class="col-12">
                          <button type="button" class="btn btn-sm btn-primary px-2 rounded-3" @click="prev">Previous</button>
                          <button type="button" class="btn btn-sm btn-success px-2 rounded-3 ms-2" @click="createOwner" :disabled="loading">
                            <div v-if="loading" class="spinner-border spinner-border-sm" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div v-else>
                              Register
                            </div>
                          </button>
                      </div>
                  </div>
                  </div>
                </form>
              </div>
              <div v-else class="card-body">
                <h5 class="text-center text-light fw-light mb-3">Customer Account Registration</h5>
                <form v-if="step === 1">
                  <small class="text-light">Step 1 - Customer Information</small>
                  <div class="form-floating mt-4 mb-2">
                    <input v-model="data.first_name" type="text" class="form-control" id="fname" placeholder="fname" autocomplete="off" autofocus required>
                    <label for="fname">First Name</label>
                  </div>
                  <div class="form-floating mb-2">
                    <input v-model="data.middle_name" type="text" class="form-control" id="mname" placeholder="mname" autocomplete="off" required>
                    <label for="mname">Middle Name</label>
                  </div>
                  <div class="form-floating mb-2">
                    <input v-model="data.last_name" type="text" class="form-control" id="lname" placeholder="lname" autocomplete="off" required>
                    <label for="lname">Last Name</label>
                  </div>
                  <div class="col-md mb-2">
                      <div class="form-floating">
                      <select v-model="data.gender" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                      </select>
                      <label for="floatingSelectGrid">Gender</label>
                      </div>
                  </div>
                  <div class="form-floating mb-3">
                    <input v-model="data.contact_number" type="contact" class="form-control" id="contact" placeholder="contact" autocomplete="off" required>
                    <label for="contact">Contact</label>
                  </div>
                  <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-sm btn-primary px-3 rounded-3" @click="next">Next</button>
                  </div>
                </form>
                <form v-if="step === 2">
                  <small class="text-light">Step 2 - Customer Login Credentials</small>
                  <div class="form-floating mt-4 mb-3">
                    <input v-model="data.email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" autocomplete="off" autofocus required>
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating mb-5">
                    <input v-model="data.password" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                    <label for="floatingPassword">Password</label>
                  </div>
                  <div class="d-flex justify-content-end">
                  <div class="row">
                      <div class="col-12">
                          <button type="button" class="btn btn-sm btn-primary px-2 rounded-3" @click="prev">Previous</button>
                          <button type="button" class="btn btn-sm btn-success px-2 rounded-3 ms-2" @click="createUser" :disabled="loading">
                            <div v-if="loading" class="spinner-border spinner-border-sm" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div v-else>
                              Register
                            </div>
                          </button>
                      </div>
                  </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import {mapActions} from 'vuex';
export default {
  data() {
    return {
      step: 1,
      isOwner: true,
      loading: false,
      data: {
        first_name: '',
        middle_name: '',
        last_name: '',
        gender: 'Male',
        contact_number: '',
        email: '',
        password: '',
      }
    }
  },
  async mounted(){
    document.title = "Register Owner"
  },
  methods: {
    ...mapActions('auth', ['createOwnerAccount', 'createUserAccount']),
    prev() {
        this.step--;
        },
        next() {
        if(this.data.first_name == ''){
          this.$toast.error('First name is required')
        }
        else if(this.data.middle_name == ''){
          this.$toast.error('Middle name is required')
        }
        else if(this.data.last_name == ''){
          this.$toast.error('Last is required')
        }
        else if(this.data.gender == ''){
          this.$toast.error('Gender is required')
        }
        else if(this.data.contact_number == ''){
          this.$toast.error('Contact is required')
        }
        else{
          this.step++;
        }
        },
    async createOwner(){
      this.loading = true
      const res = await this.createOwnerAccount(this.data)
      if(this.data.email == ''){
          this.$toast.error('Email is required')
          this.loading = false
        }
        else if(this.data.password == ''){
          this.$toast.error('Password is required')
          this.loading = false
        }
        else if(res.status == 200){
          this.$toast.success('Account created successfully!')
          this.loading = false
          this.$router.push('/')
        }
        else {
          this.$toast.error('Something went wrong!')
          this.loading = false
        }
      },
    async createUser(){
      this.loading = true
      const res = await this.createUserAccount(this.data)
      if(this.data.email == ''){
          this.$toast.error('Email is required')
          this.loading = false
        }
        else if(this.data.password == ''){
          this.$toast.error('Password is required')
          this.loading = false
        }
        else if(res.status == 200){
          this.$toast.success('Account created successfully!')
          this.loading = false
          this.$router.push('/')
        }
        else {
          this.$toast.error('Something went wrong!')
          this.loading = false
        }
      },
  }
}
</script>