@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
    margin-bottom: 0rem !important;
}

.lh-1 {
    line-height: 1rem !important;
}

/* LOGIN PAGE */
#login-page{
    height: 100vh;
    background-image:linear-gradient(0deg, rgba(94, 40, 241, 0.425), rgba(189, 96, 43, 0.507)), url('../background.jpg');    background-repeat: no-repeat;
    background-size: cover;
}

#login-page .card{
    background: none;
    border: none;
}

#login-page #right-section{
    border: none;
    background: rgba(8, 7, 7, 0.35);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#login-page #loginBtn{
    transition: all 0.3s;
}

#login-page #loginBtn:hover{
    background: white;
    color: black !important;
    padding-right: 1rem;
    border-radius: 50px !important;
}

/* REGISTRATION PAGE */
#registration-page{
    height: 100vh;
    background-image:linear-gradient(0deg, rgba(94, 40, 241, 0.425), rgba(189, 96, 43, 0.507)), url('../background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#registration-page #right-section{
    border: none;
    background: rgba(8, 7, 7, 0.35);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#registration-page .card{
    background: none;
    border: none;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-image:linear-gradient(0deg, rgba(94, 40, 241, 0.596), rgba(189, 97, 43, 0.61)), url('../background.jpg');
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    z-index: 11;
}

.sidebar h6 {
    color: white;
    margin-bottom: 1.2rem;
    padding: 1rem 1rem;
    font-weight: 700;
}

.sidebar a {
    padding: 1rem 1rem;
    text-decoration: none;
    color: white;
}

.router-link-active {
    padding: 1rem 1rem !important;
    text-decoration: none !important;
    color: white !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.664);
    border-top: 1px solid rgba(255, 255, 255, 0.664);
    background-color:rgba( 255, 255, 255, 0.18 );
}

.sidebar a:hover {
    text-decoration: none;
    background-color:rgba( 255, 255, 255, 0.18 );
    border-bottom: 1px solid rgba(255, 255, 255, 0.664);
    border-top: 1px solid rgba(255, 255, 255, 0.664);
    color: white;
}

.close{
    background: none;
    border: none;
    font-size: 1.5rem;
}

.VueCarousel-slide {
  color: rgb(22, 22, 22);
  border-radius: 6px;
  transition: all .5s;
  margin-right: 10px;
}

.VueCarousel-dot{
  display: none !important;
}

.VueCarousel-wrapper {
}
  
/**NAVIGATION*/
.navigation {
    top: 0;
    right: 0;
    position: fixed;
    width: calc(100% - 200px);
    background-color: #fff;
    height: 70px;
    box-shadow: 0px 0px 5px rgba(39, 39, 39, 0.479);
    padding: .5rem 2rem;
    z-index: 10;
}

.navigation-user {
    top: 0;
    right: 0;
    position: fixed;
    width: 100%;
    background-color: #fff;
    height: 70px;
    box-shadow: 0px 0px 5px rgba(39, 39, 39, 0.247);
    padding: .5rem 2rem;
    z-index: 10;
}

.b-avatar {
    background-color: rgba(94, 40, 241, 0.596)
}

.main-content {
    margin-left: 235px;
    margin-top: 120px;
}
/* ANIMATION */
.arrow1 {
    animation: slide1 1s ease-in-out infinite;
    margin-left: 9px;
}

.fs-3x {
    font-size: 3rem !important;
}

@keyframes slide1 {
    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, 0);
    }
}