<template>
 <div>
  <div class="container">
  <h5>Store Management</h5>
  <h6 class="text-muted">Manage your store in this section</h6>
   <div class="row g-0 mt-5">
    <div class="card p-5">
     <div class="d-flex">
      <div class="d-flex flex-column me-auto">
       <h5>Store Inventory</h5>
       <h6 class="text-muted">Manage your store inventory easily.</h6>
      </div>
      <div class="d-flex align-items-center me-3">
       <a class="btn btn-primary rounded-pill" v-on:click.prevent=" $bvModal.show('storeNameModal')">
        <i class="fas fa-store"></i>  Store 
       </a>
      </div>
     </div>
     <div class="d-flex justify-content-end mt-4">
         <button class="btn btn-primary rounded-pill me-2" @click="resetDefaults()">
             <i class="fas fa-plus"></i> Add 
         </button>
         <div class="col-6 col-sm-5 col-md-5 col-lg-4 col-xl-3">
         <div class="input-group">
           <input type="text" v-model="search" class="form-control" id="floatingSearch" placeholder="Search here">
         </div>
       </div>
     </div>
      <div class="table-responsive mt-5">
          <table class="table table-hover">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="products == 0" class="fw-bold text-danger text-center">
                    <td class="py-5" colspan="6"><small>No Product(s) Found</small></td>
                </tr>
                <tr v-for="(prod, i) in filterProducts" :key="i">
                    <td>
                        <img :src="'http://127.0.0.1:8000/uploads/' + prod.image" alt="" class="" height="100"/>
                    </td>
                    <td class="text-nowrap">{{prod.food_name}}</td>
                    <td>{{prod.category.category}}</td>
                    <td>{{formatCurrency(prod.price)}}</td>
                    <td>{{prod.qty}}</td>
                    <td class="text-nowrap">
                        <a href="" class="btn btn-sm btn-primary me-2" v-on:click.prevent="showUpdateProd(prod)">Update</a>
                        <a href="" class="btn btn-sm btn-danger" v-on:click.prevent="deleteItem = prod.id; $bvModal.show('deleteProductModal')">Delete</a>
                    </td>
                </tr>
            </tbody>
          </table>
      </div>
    </div>
   </div>
  </div>

  <b-modal id="newProductModal"  scrollable centered title="New Product">
   <div class="ps-5 pe-5">
    <label for="brand">Image</label>
    <VueFileAgent
            ref="vueFileAgent"
            @select="filesSelected($event)"
            :multiple="false"
            :maxSize="'5MB'"
            :deletable="true"
            :accept="'image/*,'"
            :theme="'list'"
            @beforedelete="onBeforeDelete($event)"
            @delete="fileDeleted($event)"
            :errorText="{
              type: 'Invalid file type. Only image file is allowed',
              size: 'Image should not exceed 5MB in size',
            }"
            v-model="fileRecords"
          ></VueFileAgent>
    <label for="categ">Select Category</label>
    <select id="categ" v-model="data.category_id" class="form-select">
      <option :value="categ.id" v-for="(categ, i) in category" :key="i">{{categ.category}}</option>
    </select>
    <p>Name</p>
    <input v-model="data.name" id="name" type="text" class="form-control" placeholder="" aria-label="Product Name">
    <div class="row">
      <div class="col-6">
        <p>Price</p>
        <input v-model="data.price" id="price" type="number" class="form-control" placeholder="" aria-label="Price">
      </div>
      <div class="col-6">
        <p>Qty</p>
        <input v-model="data.qty" id="quantity" type="number" class="form-control" placeholder="" aria-label="Qty">
      </div>
    </div>
   </div>
   <template #modal-footer = {cancel} >
     <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
     <b-button variant="success" size="sm" v-on:click.prevent="saveProduct" :disabled="isLoading">
       Save Product
     </b-button>
   </template>
  </b-modal>

  <b-modal id="updateProductModal" scrollable centered title="Update Product">
   <div class="ps-5 pe-5">
     <div class="d-flex flex-column align-items-center justify-content-center">
      <img :src="'http://127.0.0.1:8000/uploads/' + data.image" alt="" class="border  border-primary" height="100"/>
      <h6>Current Image</h6>
     </div>
    <label for="brand">New Image</label>
    <VueFileAgent
            ref="vueFileAgent"
            @select="filesSelected($event)"
            :multiple="false"
            :maxSize="'3MB'"
            :deletable="true"
            :accept="'image/*,'"
            :theme="'list'"
            @beforedelete="onBeforeDelete($event)"
            @delete="fileDeleted($event)"
            :errorText="{
              type: 'Invalid file type. Only image file is allowed',
              size: 'Image should not exceed 5MB in size',
            }"
            v-model="fileRecords"
          ></VueFileAgent>
    <p>Name</p>
    <input v-model="data.name" id="name" type="text" class="form-control" placeholder="" aria-label="Product Name">
    <label for="categ">Select Category</label>
    <select id="categ" v-model="data.category_id" class="form-select">
      <option :value="categ.id" v-for="(categ, i) in category" :key="i">{{categ.category}}</option>
    </select>
    <div class="row">
      <div class="col-6">
        <p>Price</p>
        <input v-model="data.price" id="price" type="number" class="form-control" placeholder="" aria-label="Price">
      </div>
      <div class="col-6">
        <p>Qty</p>
        <input v-model="data.qty" id="quantity" type="number" class="form-control" placeholder="" aria-label="Qty">
      </div>
    </div>
   </div>
   <template #modal-footer = {cancel} >
     <b-button variant="primary" size="sm" @click="cancel()" :disabled="loading"> Cancel </b-button>
     <b-button variant="success" size="sm" v-on:click.prevent="updateProd" :disabled="loading">
       Update
     </b-button>
   </template>
  </b-modal>

  <b-modal id="storeNameModal" centered hide-header hide-footer>
   <h3 class="text-center mt-5 mb-2">{{ owneraccount.ownerinfo.store_name }}</h3>
    <div class="text-center mb-5">
     <small class="text-muted">Click edit to change your store name.</small>
    </div>
   <div class="d-flex justify-content-end">
    <button class="btn btn-sm btn-primary rounded-3 me-5 mb-3 px-3" v-on:click.prevent="update = owneraccount.ownerinfo.store_name; $bvModal.show('updateNameModal')">
        Edit
    </button>
   </div>
  </b-modal>
  
  <b-modal id="updateNameModal" centered hide-header hide-footer>
   <div class="mt-3 mb-3 px-5">
    <label for="storeName" class="form-label">Change store name</label>
    <input v-model="update" type="email" class="form-control" id="storeName" autocomplete="off">
   </div>
   <div class="d-flex justify-content-end">
    <button class="btn btn-sm btn-primary rounded-3 me-5 mb-3 px-3" @click.prevent="updateName">
    <div v-if="loading" class="spinner-border spinner-border-sm" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div v-else>
        Save
    </div>
    </button>
   </div>
  </b-modal>

  <b-modal id="deleteProductModal" centered title="Confirm Delete">
    <p class="">Are you sure to delete this product?</p>
      <template #modal-footer = {cancel} >
        <b-button variant="primary" @click="cancel()"> Cancel </b-button>
        <b-button variant="danger" v-on:click.prevent="deleteProd" :disabled="loading">
          <div v-if="loading" class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div v-else>
            Yes, Delete
          </div>
        </b-button>
      </template>
    </b-modal>
 </div>
</template>
<script>
import {mapActions, mapState} from 'vuex';
export default {
 data(){
  return {
    loading: false,
    update: '',
    data: {
        image: '',
        qty: '',
        price: '',
        name: '',
    },
    updateItem: {
        image: '',
        qty: '',
        price: '',
        name: '',
    },
    fileRecords: [],
    fileRecordsForUpload: [],
    isLoading: false,
    search: '',
    deleteItem: '',
  }
 },
 async mounted() {
  document.title = "Store Section"
  await this.checkAdminUser()
  await this.$store.dispatch('storename/getCategory')
  await this.$store.dispatch('storename/getProducts')
 },
  methods: {
   ...mapActions('storename', ['updateStoreName', 'deleteProduct', 'updateProduct']),
   ...mapActions('auth', ['checkAdminUser']),
    filesSelected: function(fileRecordsNewlySelected) {
        var validFileRecords = fileRecordsNewlySelected.filter(
        (fileRecord) => !fileRecord.error
        );
        this.fileRecordsForUpload = this.fileRecordsForUpload.concat(
        validFileRecords
        );
     },
     fileDeleted: function(fileRecord) {
       var i = this.fileRecordsForUpload.indexOf(fileRecord);
       if (i !== -1) {
         this.fileRecordsForUpload.splice(i, 1);
       }
     },
     onBeforeDelete: function(fileRecord) {
       console.log(fileRecord)
       var i = this.fileRecordsForUpload.indexOf(fileRecord);
       if (i !== -1) {
         this.fileRecordsForUpload.splice(i, 1);
        var k = this.fileRecords.indexOf(fileRecord);
         if (k !== -1) this.fileRecords.splice(k, 1);
       }
     },
     formatCurrency(data){
      var formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'PHP',
      });
      return formatter.format(data);
    },
     showUpdateProd(prod){
       this.data.name = prod.food_name
       this.data.category_id = prod.category_id
       this.data.price = prod.price
       this.data.qty = prod.qty
       this.data.image = prod.image
       this.data.id = prod.id

       this.$bvModal.show('updateProductModal')
     },
     async saveProduct(){
       if (this.fileRecordsForUpload.length == 0) return this.$toast.error("An Image is required");
       if(this.data.name == '') return this.$toast.error('Product Name is required!');  
       if(this.data.qty == '') return this.$toast.error('Qty is required!');  
       if(this.data.price == '') return this.$toast.error('Price is required!');  

       const img = await this.$refs.vueFileAgent.upload(
         `http://127.0.0.1:8000/api/owner/uploadFeaturedImage?token=` + localStorage.getItem("auth"), 
         {'X-Requested-With' : 'XMLHttpRequest'}, this.fileRecordsForUpload
       );

      this.data.image = img[0].data

      const res = await this.$store.dispatch('storename/storeProduct', this.data)
      if(res.data == 200){
        this.$bvModal.hide('newProductModal')
          this.$toast.success(res.data.msg);
      }
      else {
        this.$bvModal.hide('newProductModal')
          this.$toast.success(res.data.msg);
      }
        this.$store.dispatch('storename/getProducts')
     },
    async updateName(){
        this.loading = true
        let data = {
            name: this.update,
        }
        const res = await this.$store.dispatch('storename/updateStoreName', data)
        if(res.status == 200 ){
            this.$bvModal.hide('storeNameModal')
            this.$bvModal.hide('updateNameModal')
            await this.checkAdminUser()
            this.loading = false
            this.$toast.success('Your store name has been changed to ' + data.name + '.')
        }
        else{
            this.$toast.error('Something went wrong!')
            this.$bvModal.hide('storeNameModal')
            this.$bvModal.hide('updateNameModal')
            this.loading = false
        }
      },
    async updateProd(){
      if(this.data.name == '') return this.$toast.error('Product Name is required!');  
      if(this.data.qty == '') return this.$toast.error('Qty is required!');  
      if(this.data.price == '') return this.$toast.error('Price is required!');  
      this.loading = true

      if(this.fileRecordsForUpload.length != 0){
        const img = await this.$refs.vueFileAgent.upload(
          `http://127.0.0.1:8000/api/owner/uploadFeaturedImage?token=` + localStorage.getItem("auth"), 
          {'X-Requested-With' : 'XMLHttpRequest'}, this.fileRecordsForUpload
        );
    
        this.data.image = img[0].data
      }
    
    const res = await this.$store.dispatch('storename/updateProduct', this.data)
      if(res.status == 200 ){
          await this.$store.dispatch('storename/getProducts')
          this.$bvModal.hide('updateProductModal')
          this.loading = false
          this.$toast.success( this.data.name + ' updated successfully!')
      }
      else{
          await this.$store.dispatch('storename/getProducts')
          this.$toast.error('Something went wrong!')
          this.$bvModal.hide('updateProductModal')
          this.loading = false
      }
    },
    async deleteProd(){
      this.loading = true
      const res = await this.$store.dispatch('storename/deleteProduct', this.deleteItem)
        if(res.status == 200){
            this.$bvModal.hide('deleteProductModal')
            this.$store.dispatch('storename/getProducts')
            await this.checkAdminUser()
            this.loading = false
            this.$toast.success('Product deleted successfully!')
        } else {
            this.$toast.error('Something went wrong!')
            this.$bvModal.hide('deleteProductModal')
            this.loading = false
        }
    },
    resetDefaults(){
      this.data.name = ''
      this.data.price = ''
      this.data.qty = ''
      this.fileRecordsForUpload = []
      this.fileRecords = []
      this.$bvModal.show('newProductModal')
    }
  },
  computed: {
    ...mapState('storename', ['owner', 'category', 'products']),
    ...mapState("auth", ["owneraccount"]),
    filterProducts() {
      return this.products.filter((prod) => {
        return (
          prod.food_name.match(this.search) 
        );
      });
    },

  },
}
</script>